<% include ../partials/header %>

  <div class='container well'>
    <h1>API Basejump: Timestamp Microservice</h1>
    <div id='usage'>
      <h3>Usage: </h4>
      <ol>
        <li>
          I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
        </li>
        <li>
          If it does, it returns both the Unix timestamp and the natural language form of that date.
        </li>
        <li>
          If it does not contain a date or Unix timestamp, it returns null for those properties.
        </li>
      </ol>

    </div>

<div id='exAndTry'>

<div id='examples' class='col-sm-6'>
  <div id='exUsage'>
    <h3>Example Usage:</h3>
    <ul>
      <li>
        <p>http://localhost:3000/home/September%2014,%201995</p>
      </li>
      <li>
        <p>http://localhost:3000/home/811051200</p>
      </li>
    </ul>
  </div>

    <h3>Example Output:</h3>

    <div id=exOutputJSON>

      <p>{</p>
      <p>  unix: 811051200,</p>
      <p>natural: "September 14, 1995"</p>
      <p>}</p>

    </div>

</div>



<div id='tryNow' class='col-sm-6'>

  <h3>Try it now:</h3>


  <label>Natural Date: </label>
  <select name="months" id="monthsSelect">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
  </select>

  <select name="day" id="daySelect">
    <option value="1">1</option>
  </select>


  <select name="year" id="yearSelect">
    <option value="1991">1900</option>
  </select>

      <button id='dateSubmit'>Submit</button>


      <br>
      <h4>OR</h4>


      <label>Unix Number: </label>
      <input id='myUnixVal' type="number"><button id='unixSubmit'>Submit</button>

    </div>

</div>

</div>

<% include ../partials/footer %>
